html, body {
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.splashBody {
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  background-image: url("../assets/wallpaper.jpg");
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}